/* ヘッダー */
header {
  height: 101px;
  display: flex;
  box-shadow: 0px -2px 8px #00000029 inset;
}

.heading {
  width: 35%;
}

.logo-image {
  padding: 28px 0px 0px 350px;
}

.nav-lists {
  width: 30%;
  display: flex;
  justify-content: center;
}

.nav-lists__list {
  list-style: none;
  padding-top: 40px;
  margin-left: 40px;
  font-size: 20px;
}

.entry-btn {
  width: 35%;
}

.btn-sm {
  width: 280px;
  background: linear-gradient(to right, #0271E0, #53A2F0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  margin: 22px 120px 0px 0px;
  border-radius: 30px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}

/* カバー */
.cover {
  height: 900px;
  position: relative;
}

.main-image {
  height: 100%;
  width: 100%;
}

/* ボタン */
.cover-btm {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 960px;
}

.inquiry-btn {
  margin: 6px 0px;
  padding-top: 20px;
  border-radius: 35px;
  background-color: #77CB33;
}

.freetrial-btn {
  margin: 6px 40px;
  padding-top: 20px;
  border-radius: 35px;
  background-color: #FFA500;
}

.request-btn {
  margin: 6px 0px;
  padding-top: 20px;
  border-radius: 35px;
  background-color: #3AC8AD;
}

.btn-lg {
  width: 280px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
}

/* 選ばれる３つの理由(見出し） */
.reason {
  height: 1320px;
  margin: 80px 380px 0px 380px;
}

.reason-title {
  text-align: center;
  color: #333333;
  font-size: 36px;
  font-weight: bold;
}

.title-pink {
  color: #F11F8D;
  font-size: 54px;
  font-weight: bold;
}

/* 選ばれる３つの理由（リスト） */
.reason-box {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.reason-text {
  width: 52%;
}

.reason-image {
  width: 48%;
}

.reason-text-right {
  margin-left: 40px;
}

.reason-text-left {
  margin-right: 40px;
}

.reason-text-first {
  color: #F11F8D;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 20px;
}

.text-pink {
  color: #F11F8D;
  font-size: 42px;
  font-weight: bold;
}

.reason-text-second {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.reason-text-third {
  color: #333333;
  font-size: 16px;
}

/* コース・目的 */
.course {
  height: 1010px;
  margin: 100px 330px 80px 330px;
}

.course-title {
  text-align: center;
  color: #333333;
  font-size: 36px;
  font-weight: bold;
}

.tab-wrap {
  margin: 50px auto;
}

.tab-menu {
  display: flex;
  justify-content: space-between;
}

.tab-left {
  padding: 20px 203px;
  border-radius: 10px 10px 0px 0px;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  background-color: #F2F9FF;
}

.tab-right {
  padding: 20px 203px;
  border-radius: 10px 10px 0px 0px;
  color: #333333;
  font-size: 24px;
  font-weight: bold;
  background-color: #F2F9FF;
}

.grade-tab {
  display: block;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: #F2F9FF;
}

.purpose-tab {
  display: none;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: #F2F9FF;
}

.icon-box {
  display: flex;
  justify-content: space-around;
}

.course-text {
  padding: 20px 0px 30px 0px;
  color: #333333;
  font-size: 20px;
  font-weight: bold;
}

.blue {
  color: #005BAC;
}

.course-image {
  border-radius: 10px;
}

/* 費用 */
.cost {
  height: 720px;
  margin: 0 600px;
  text-align: center;
}

.cost-title {
  margin: 90px 0px 40px 0px;
  color: #333333;
  font-size: 36px;
  font-weight: bold;
}

/* バナー */
/* 修正必要 */
.banner {
  height: 231px;
  background-color:#FFEDED;
}

.banner-text {
  text-align: center;
  padding-top: 60px;
  color: #333333;
  font-size: 16px;
}

.btn-en {
  width: 320px;
  background: linear-gradient(to right, #0271E0, #53A2F0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  margin: 20px auto 0px auto;
  border-radius: 35px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

/* 質問・検索 */
.faq-search {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 320px;
}

.faq {
  position: absolute;
  top: 45%;
  left: 20%;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
}

.search {
  position: absolute;
  top: 45%;
  left: 70%;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
}

/* フッター */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #DDDDDD;
}

.footer-text {
  color: #333333;
  font-size: 13px;
}
