html { 
  font-size: 62.5%;
  }

body {
  font-family: 'Poppins', 'Noto Sans JP', sans-serif;
}

/* ヘッダー */
/* SP記述 1079px以下*/
@media screen and (max-width: 1079px) {
  .header {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -2px 8px #00000029 inset;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .header-contents {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .logo {
    width: 100%;
    margin-left: 16px;
  }
  .logo img {
    height: 34px;
    width: 166px;

  }
}

/* ハンバーガーメニューー */
/* SP記述 1079px以下*/
@media screen and (max-width: 1079px) {
  .hamburger-menu {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    position: relative;
    border: none;
    background: #005BAC;
    appearance: none;
    padding: 0;
  }
}

@media screen and (max-width: 1079px) {
  .hamburger-menu__bar {
  display: inline-block;
  width: 44%;
  height: 5px;
  background: #FFFFFF;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  transition: .3s;
  }
}

@media screen and (max-width: 1079px) {
  .hamburger-menu__bar:first-child {
  top: 22px;
  }
}

@media screen and (max-width: 1079px) {
  .hamburger-menu__bar:nth-child(2) {
  top: 32.5px;
  }
}

@media screen and (max-width: 1079px) {
  .hamburger-menu__bar:last-child {
  top: 43px;
  }
}

@media screen and (max-width: 1079px) {
  .hamburger-menu--open .hamburger-menu__bar {
  top: 50%;
  }
}

@media screen and (max-width: 1079px) {
  .hamburger-menu--open .hamburger-menu__bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
}

@media screen and (max-width: 1079px) {
  .hamburger-menu--open .hamburger-menu__bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}

@media screen and (max-width: 1079px) {
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
  display: none;
  }
}

@media screen and (max-width: 1079px) {
  .navigation {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #005BAC;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  .navigation.open {
    transform: translateX(0);
    right: 0;
  }
}

@media screen and (max-width: 1079px) {
  .navigation__list {
  width: 100%;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  }
}

@media screen and (max-width: 1079px) {
  .navigation__list-item {
    border-bottom: solid 1px #FFFFFF80;
    margin: 0 5%; 
    transition: all 0.5s ease-in-out;
  }
  .navigation__list-item:hover {
    opacity: 0.4; 
  }
}

@media screen and (max-width: 1079px) {
  .navigation__list-item:first-child {
  border-top: solid 1px #005BAC;
  }
}

@media screen and (max-width: 1079px) {
  .navigation-text {
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
    transition: .3s;
  }
}

@media screen and (max-width: 1079px) {
  .navigation__link {
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
    display: block;
    padding: 20px 0;
  }
}

@media screen and (min-width: 393px) and (max-width: 1079px) {
  .btn-entry {
    height: 66px;
    width: 350px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 20px 85px;
    margin: 32px auto;
    border-radius: 35px;
    text-decoration: none;
    color: #005BAC;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-entry:hover {
    opacity: 0.4; 
  }
}

@media screen and (max-width: 392px) {
  .btn-entry {
    height: 66px;
    width: 320px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 20px 60px;
    margin: 32px auto;
    border-radius: 35px;
    text-decoration: none;
    color: #005BAC;
    font-size: 1.8rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-entry:hover {
    opacity: 0.4; 
  }
}

/* ヘッダー */
/* PC記述 1080px以上*/
@media screen and (min-width: 1080px) {
  .header {
    height: 101px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px -2px 8px #00000029 inset;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .header-contents {
    max-width: 1200px;
    height: 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
}

@media screen and (min-width: 1080px) {
  .logo {
    height: 45px;
    width: 241px;
  }
}

@media screen and (min-width: 1080px) {
  .logo img {
    width: 241px;
    height: 45px;
    margin-left: 25px;
  }
}

/* ナビメニュー */
/* PC記述 1080px以上*/
@media screen and (min-width: 1080px) {
  .navigation {
    list-style: none;
  }
}

@media screen and (min-width: 1080px) {
  .navigation__list {
    display: flex;
    align-items: center;
    gap: 48px;
    padding-right: 22px;
  }
}

@media screen and (min-width: 1080px) {
  .navigation__list-item {
    font-size: 2rem;
    color: #333333;
    transition: all 0.5s ease-in-out;
  }
  .navigation__list-item:hover {
    opacity: 0.4; 
  }
}


@media screen and (min-width: 1080px) {
  .navigation-text {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .btn-entry {
    width: 282px;
    background: linear-gradient(to right, #0271E0, #53A2F0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 4.1rem;
    border-radius: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-entry:hover {
    opacity: 0.4; 
  }
}

/* カバー */
/* SP記述 */
@media screen and (max-width: 767px) {
  .cover {
    position: relative;
  }
  .cover-img img {
    width: 100%;
    height: auto;
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .cover-title {
    max-width: 100%;
    height: auto;
    margin-left: 4.5%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 9%;
  }
.cover-title-top {
    height: 69px;
    width: 147px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .frame-left img {
    width: 24px;
    height: 69px;
  }
  .cover-title-p {
    height: 67px;
    width: 99px;
    display: flex;
    flex-direction: column;
  }
  .cover-text-first {
    width: 99px;
    height: 16px;
    font-size: 1.1rem;
    padding-top: 5px;
  }
  .cover-text-second {
    width: 56px;
    height: 51px;
    padding: 5px 0px 0px 22px;
    color: #F11F8D;
    font-size: 2.5rem; 
    font-weight: bold;
    font-style: italic;
  }
  .cover-text-third {
    width: 10%;
    height: auto;
    color: #F11F8D;
    font-size: 3.6rem;
    font-weight: bold;
    font-style: italic;
  }
  .frame-right img {
    width: 24px;
    height: 69px;
  }
}

@media screen and (max-width: 767px) {
  .cover-text-fourth {
    width: 175px;
    height: auto;
    font-size: 1.4rem;
    padding-top: 6.5%;
  }
  .cover-text-fifth {
    width: 175px;
    height: auto;
    color: #005BAC;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 2.5%;
  }
  .cover-text-sixth {
    width: 175px;
    height: auto;
    color: #005BAC;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 1.5%;
  }
}

/* カバー */
/* TB記述 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cover {
    position: relative;
  }
  .cover-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
  }
  .cover-title { 
    max-width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 104px 0px 0px 57px;
  }
  .cover-title-top {
    height: 150px;
    width: 325px;
    display: flex;
    justify-content: space-between;
  }
  .frame-left img {
    width: 53px;
    height: 150px;
  }
  .cover-title-p {
    height: 133px;
    width: 180px;
    display: flex;
    flex-direction: column;
  }
  .cover-text-first {
    width: 180px;
    height: 29px;
    font-size: 2rem;
    padding-top: 14px;
  }
  .cover-text-second {
    width: 180px;
    height: 104px;
    padding: 20px 0px 0px 37px;
    color: #F11F8D;
    font-size: 5.4rem; 
    font-weight: bold;
    font-style: italic;
  }
  .cover-text-third {
    width: 10%;
    height: auto;
    color: #F11F8D;
    font-size: 7.4rem;
    font-weight: bold;
    font-style: italic;
  }
  .frame-right img {
    width: 53px;
    height: 150px;
  }
  .cover-text-fourth {
    font-size: 3.3rem;
    padding-top: 40px;
  }
  .cover-text-fifth {
    color: #005BAC;
    font-size: 6rem;
    font-weight: bold;
    padding-top: 22px;
  }
  .cover-text-sixth {
    color: #005BAC;
    font-size: 6rem;
    font-weight: bold;
    padding-top: 17px;
  }
}

/* カバー */
/* PC記述 */
@media screen and (min-width: 1025px) and (max-width: 1919px) {
  .cover {
    position: relative;
  }
  .cover-img img {
    width: 100%;
    height: auto;
    max-height: 450px;
    position: absolute;
  }
  .cover-title { 
    max-width: 800px;
    height: auto;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 69px 0px 0px 33px;
  }
  .cover-title-top {
    height: 100px;
    width: 217px;
    display: flex;
    justify-content: space-between;
  }
  .frame-left img {
    width: 35px;
    height: 100px;
  }
  .cover-title-p {
    height: 89px;
    width: 120px;
    display: flex;
    flex-direction: column;
  }
  .cover-text-first {
    width: 120px;
    height: 19px;
    font-size: 1.3rem;
    padding-top: 9px;
  }
  .cover-text-second {
    width: 120px;
    height: 69px;
    padding: 13px 0px 0px 25px;
    color: #F11F8D;
    font-size: 3.6rem; 
    font-weight: bold;
    font-style: italic;
  }
  .cover-text-third {
    width: 10%;
    height: auto;
    color: #F11F8D;
    font-size: 4.9rem;
    font-weight: bold;
    font-style: italic;
  }
  .frame-right img {
    width: 35px;
    height: 100px;
  }
  .cover-text-fourth {
    width: 35%;
    height: auto;
    font-size: 2.2rem;
    padding-top: 27px;
  }
  .cover-text-fifth {
    width: 50%;
    height: auto;
    color: #005BAC;
    font-size: 4rem;
    font-weight: bold;
    padding-top: 17px;
  }
  .cover-text-sixth {
    width: 50%;
    height: auto;
    color: #005BAC;
    font-size: 4rem;
    font-weight: bold;
    padding-top: 11px;
  }
}

@media screen and (min-width: 1920px) {
  .cover {
    position: relative;
  }
  .cover-img img {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .cover-title { 
    max-width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 104px 0px 0px 50px;
  }
  .cover-title-top {
    height: 150px;
    width: 325px;
    display: flex;
    justify-content: space-between;
  }
  .frame-left img {
    width: 53px;
    height: 150px;
  }
  .cover-title-p {
    height: 133px;
    width: 180px;
    display: flex;
    flex-direction: column;
  }
  .cover-text-first {
    width: 180px;
    height: 29px;
    font-size: 2rem;
    padding-top: 14px;
  }
  .cover-text-second {
    width: 180px;
    height: 104px;
    padding: 20px 0px 0px 37px;
    color: #F11F8D;
    font-size: 5.4rem; 
    font-weight: bold;
    font-style: italic;
  }
  .cover-text-third {
    width: 10%;
    height: auto;
    color: #F11F8D;
    font-size: 7.4rem;
    font-weight: bold;
    font-style: italic;
  }
  .frame-right img {
    width: 53px;
    height: 150px;
  }
  .cover-text-fourth {
    width: 35%;
    height: auto;
    font-size: 3.3rem;
    padding-top: 40px;
  }
  .cover-text-fifth {
    width: 50%;
    height: auto;
    color: #005BAC;
    font-size: 6rem;
    font-weight: bold;
    padding-top: 22px;
  }
  .cover-text-sixth {
    width: 50%;
    height: auto;
    color: #005BAC;
    font-size: 6rem;
    font-weight: bold;
    padding-top: 17px;
  }
}

/* ボタン */
/* SP記述 1024px以下 */
@media screen and (max-width: 1024px) {
  .cover-btn {
    height: 185px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 300px) and (max-width: 399px){
  .cover-btn {
    margin-top: 14%;
  }
}

@media screen and (min-width: 400px) and (max-width: 499px){
  .cover-btn {
    margin-top: 20%;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px){
  .cover-btn {
    margin-top: 25%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .cover-btn {
    margin-top: 14%;
  }
}

@media screen and (max-width: 1024px) {
  .btn-inquiry {
    padding: 12px 53px;
    border-radius: 35px;
    background-color: #77CB33;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-inquiry:hover {
    opacity: 0.4; 
  }
}

@media screen and (max-width: 1024px) {
  .btn-freetrial {
    padding: 12px 53px;
    border-radius: 35px;
    background-color: #FFA500;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-freetrial:hover {
    opacity: 0.4; 
  }
}

@media screen and (max-width: 1024px) {
  .btn-request {
    padding: 12px 77px;
    border-radius: 35px;
    background-color: #3AC8AD;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-request:hover {
    opacity: 0.4; 
  }
}

/* ボタン */
/* PC記述 1025px以上 */
@media screen and (min-width: 1025px) { 
  .cover-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 35px;
    bottom: 8px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1919px) {
  .cover-btn {
    margin-top: 7%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1919px) {
  .btn-inquiry {
    border-radius: 35px;
    background-color: #77CB33;
    color: #FFFFFF;
    padding: 1.3rem 4.1rem;
    font-size: 1.6rem;
    font-weight: bold;;
    transition: all 0.5s ease-in-out;
  }
  .btn-inquiry:hover {
    opacity: 0.4; 
  }
}

@media screen and (min-width: 1025px) and (max-width: 1919px) {
  .btn-freetrial {
    border-radius: 35px;
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 1.3rem 4.1rem;
    font-size: 1.6rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-freetrial:hover {
    opacity: 0.4; 
  }
}

@media screen and (min-width: 1025px) and (max-width: 1919px) { 
  .btn-request {
    border-radius: 35px;
    background-color: #3AC8AD;
    color: #FFFFFF;
    padding: 1.3rem 6.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-request:hover {
    opacity: 0.4; 
  }
}


@media screen and (min-width: 1920px) {
  .cover-btn {
    margin-top: 7%;
  }
}

@media screen and (min-width: 2560px) {
  .cover-btn {
    margin-top: 14%;
  }
}

@media screen and (min-width: 1920px) {
  .btn-inquiry {
    border-radius: 35px;
    background-color: #77CB33;
    color: #FFFFFF;
    padding: 2rem 6.2rem;
    font-size: 2.4rem;
    font-weight: bold;;
    transition: all 0.5s ease-in-out;
  }
  .btn-inquiry:hover {
    opacity: 0.4; 
  }
}

@media screen and (min-width: 1920px) {
  .btn-freetrial {
    border-radius: 35px;
    background-color: #FFA500;
    color: #FFFFFF;
    padding: 2rem 6.2rem;
    font-size: 2.4rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-freetrial:hover {
    opacity: 0.4; 
  }
}

@media screen and (min-width: 1920px) {
  .btn-request {
    border-radius: 35px;
    background-color: #3AC8AD;
    color: #FFFFFF;
    padding: 2rem 9.8rem;
    font-size: 2.4rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .btn-request:hover {
    opacity: 0.4; 
  }
}

/* 選ばれる３つの理由 タイトル*/
@media screen and (max-width: 767px) { /* SP記述 */
  .reason {
    width: 100%;
  }
}

@media screen and (min-width: 768px) { /* PC記述 */
  .reason {
    width: 100%;
    height: auto;
    margin-bottom: 3.5%;
    align-items: baseline;
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) { /* SP記述 */
  .reason-title {
    margin-bottom: 24px;
    text-align: center;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) { /* PC記述 */
  .reason-title {
    text-align: center;
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    margin: 100px 0px 30px 0px;
  }
}

@media screen and (max-width: 767px) { /* SP記述 */
  .title-pink {
    color: #F11F8D;
    font-size: 40px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) { /* PC記述 */
  .title-pink {
    color: #F11F8D;
    font-size: 54px;
    font-weight: bold;
  }
}

/* 選ばれる３つの理由 コンテンツ */
/* SP記述 */
@media screen and (max-width: 767px) {
  .reason-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 767px) {
  .reason-box img {
    width: 343px;
    height: 220px;
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 767px) {
  .reason-text-first, .reason-text-fourth {
    color: #F11F8D;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin: 0px 0px 8px 16px;
  }
}

@media screen and (max-width: 767px) {
  .text-pink {
    color: #F11F8D;
    font-size: 36px;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .reason-text-second, .reason-text-fifth {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 16px 14px 16px;
  }
}

@media screen and (max-width: 767px) {
  .reason-text-third, .reason-text-sixth {
    color: #333333;
    font-size: 16px;
    line-height: 1.7;
    margin: 0px 16px 16px 16px;
  }
}

/* 選ばれる３つの理由 コンテンツ */
/* PC記述 */
@media screen and (min-width: 768px) {
  .reason-box {
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 15px auto;
  }
}

@media screen and (min-width: 768px) {
  .reason-box img {
    width: 47%;
    height: 20%;
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 768px) {
  .reason-text {
    width: 52%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .flex--reverse {
    flex-direction: row-reverse;
    
  }
}

@media screen and (min-width: 768px) {
  .reason-text-first {
    color: #F11F8D;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    padding: 2% 0% 0% 8%;
  }
}

@media screen and (min-width: 768px) {
  .text-pink {
    color: #F11F8D;
    font-size: 42px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .reason-text-second {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    padding-left: 8%;
    line-height: 1.7;
  }
}

@media screen and (min-width: 768px) {
  .reason-text-third {
    color: #333333;
    font-size: 16px;
    line-height: 1.8;
    padding: 3% 0% 0% 8%;
  }
}

@media screen and (min-width: 768px) {
  .reason-text-fourth {
    color: #F11F8D;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    padding: 1.5% 0% 0% 1%;
  }
}

@media screen and (min-width: 768px) {
  .reason-text-fifth {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    padding: 1.5% 5% 0% 1.5%;
    line-height: 1.7;
  }
}

@media screen and (min-width: 768px) {
  .reason-text-sixth {
    color: #333333;
    font-size: 16px;
    line-height: 1.8;
    padding: 1.5% 7% 0% 1.5%;
  }
}


/* 申し込みバナー */
/* SP記述 */
@media screen and (max-width: 767px) { 
  .banner {
    height: 213px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FFEDED;
  }
}

@media screen and (max-width: 767px) { 
  .banner-text {
    text-align: center;
    margin: 0px 40px;
    padding-bottom: 12px;
    color: #333333;
    line-height: 1.7;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) { 
  .btn-banner {
    width: 305px;
    background: linear-gradient(to right, #0271E0, #53A2F0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 53px 25px 52px;
    border-radius: 35px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
  }
}

/* 申し込みバナー */
/* PC記述 */
@media screen and (min-width: 768px) {
  .banner {
    height: 231px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FFEDED;
  }
}

@media screen and (min-width: 768px) {
  .banner-text {
    text-align: center;
    color: #333333;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .btn-banner {
    width: 360px;
    background: linear-gradient(to right, #0271E0, #53A2F0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 49px 21px 71px;
    border-radius: 35px;
    margin-top: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
  }
}

/* コース・目的 タイトル */
@media screen and (max-width: 767px) { /* SP記述 */
  .course {
    width: 100%;
    height: auto;
    align-items: baseline;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 768px) { /* PC記述 */
  .course {
    width: 100%;
    height: auto;
    align-items: baseline;
    padding: 0 10px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 767px) { /* SP記述 */
  .course-title {
    text-align: center;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    margin: 68px 0px 30px 0px;
  }
}

@media screen and (min-width: 768px) { /* PC記述 */
  .course-title {
    width: 100%;
    margin: 77px 0px 37px 0px;
    text-align: center;
    color: #333333;
    font-size: 36px;
    font-weight: bold;
  }
}

/* コース・目的 コンテンツ */
/* SP記述 */
@media screen and (max-width: 767px) {
  .tab-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .tab-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 4.5%;
    border-radius: 10px 10px 0px 0px;
    background-color: #F0F0F0;
    color: #33333380;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
.tab-contents-wrap {
  height: auto;
  display: flex;
  background-color: #F2F9FF;
  padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .tab-contents {
    max-width: 375px;
    margin: 27px auto 0px auto;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .tab-icon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .tab-img {
    width: 343px;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px auto;
  }
  .tab-img img {
    width: 343px;
    height: 220px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
  .tab-img img:hover {
    transform: scale(1.2);
    opacity: 0.4;
  }
}


@media screen and (max-width: 767px) {
  .tab-text {
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
    margin: 5% 0 8% 0;
  }
}

@media screen and (max-width: 767px) {
  .tab-blue {
    color: #005BAC;
    font-size: 18px;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .is-tab-active {
    background-color: #F2F9FF;
    color: #333333;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 767px) {
  .is-contents-active {
    display: block;
  }
}

/* コース・目的 コンテンツ */
/* PC記述 */
@media screen and (min-width: 768px) {
  .tab-list {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin: 0px auto;
  }
}

@media screen and (min-width: 768px) {
  .tab-list-item {
    width: 47%;
    padding: 2% 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    background-color: #F0F0F0;
    color: #33333380;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .tab-contents-wrap {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .tab-contents {
    width: 97%;
    background-color: #F2F9FF;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .tab-contents-half {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin: 2.5% 0% 3.5% 0%;
    padding: 0% 3%;
  }
}

@media screen and (min-width: 768px) {
  .tab-icon {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .tab-img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  .tab-img img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
  .tab-img img:hover {
    transform: scale(1.2);
    opacity: 0.4;
  }
}

@media screen and (min-width: 768px) {
  .tab-text {
    color: #333333;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4%;
  }
}

@media screen and (min-width: 768px) {
  .tab-blue {
    color: #005BAC;
    font-size: 2rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .is-tab-active {
    background-color: #F2F9FF;
    color: #333333;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .is-contents-active {
    display: block;
  }
}

/* 費用 タイトル */
@media screen and (max-width: 767px) { /* SP記述 */
  .cost-title {
    text-align: center;
    margin: 68px 0px 20px 0px;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) { /* PC記述 */
  .cost-title {
    text-align: center;
    margin: 75px 0px 35px 0px;
    color: #333333;
    font-size: 36px;
    font-weight: bold;
  }
}

/* 費用 コンテンツ */
/* SP記述 */
@media screen and (max-width: 767px) {
  .cost-box {
    height: 451px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    margin-bottom: 18%;
  }
  table {
    border: solid 2px #CCCCCC;
  }
}

@media screen and (max-width: 767px) {
  .cost-box th {
    background-color: #F5F5F5;
    color: #333333;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    padding: 23px 29px;
  }
}

@media screen and (max-width: 767px) {
  .cost-box td {
    color: #333333;
    font-size: 1.6rem;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #CCCCCC;
    padding: 15px 29px;
  }
}

@media screen and (max-width: 767px) {
  .cost-text-first {
    color: #F23397;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    vertical-align: baseline;
  }
}

@media screen and (max-width: 767px) {
  .cost-text-second {
    color: #F23397;
    font-size: 1.6rem;
  }
}

/* 費用 コンテンツ */
/* PC記述 */
@media screen and (min-width: 768px) {
  .cost-box {
    height: 545px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    margin: 0px auto 72px auto;
  }
  .table {
    border: solid 2px #CCCCCC;
  }
  .table .cost-yearly {
    height: 74px;
    width: 141px;
  }
  .table .cost-tuition {
    height: 74px;
    width: 452px;
  }
}

@media screen and (min-width: 768px) {
  .cost-box th {
    background-color: #F5F5F5;
    color: #333333;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  .cost-box td {
    color: #333333;
    font-size: 1.8rem;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #CCCCCC;
    padding: 22px;
  }
}

@media screen and (min-width: 768px) {
  .cost-text-first {
    color: #F23397;
    font-size: 2.8rem;
    letter-spacing: 0.08em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    vertical-align: baseline;
  }
}

@media screen and (min-width: 768px) {
  .cost-text-second {
    color: #F23397;
    font-size: 1.6rem;
  }
}

/* 質問・検索 */
/* SP記述 */
@media screen and (max-width: 1079px) {
  .faq-search {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1079px) {
  .faq-search-box {
    width: 100vw;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .faq-search-box img {
    width: 100vw;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  .faq-search-box img:hover {
    transform: scale(1.2);
    opacity: 0.4;
  }
}

@media screen and (max-width: 1079px) {
  .faq-search-box p {
    position: absolute;
    top: 45%;
    left: 5%;
    color: #FFFFFF;
    font-size: 2.2rem;
    font-weight: bold;
  }
}

/* 質問・検索 */
/* PC記述 */
@media screen and (min-width: 1080px) {
  .faq-search {
    width: 100%;
    height: 100%;
    aspect-ratio: 6 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1080px) {
.faq-search-box {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 1;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .faq-search-box img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3 / 1;
    transition: all 0.5s ease-in-out;
  }
  .faq-search-box img:hover {
    transform: scale(1.2);
    opacity: 0.4;
  }
}

@media screen and (min-width: 1080px) {
  .fap-text {
    position: absolute;
    top: 45%;
    left: 38%;
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 1080px) {
  .search-text {
    position: absolute;
    top: 45%;
    left: 35%;
    color: #FFFFFF;
    font-size: 3.2rem;
    font-weight: bold;
  }
}

/* フッター */
@media screen and (max-width: 767px) { /* SP記述 */
  footer {
    height: 83px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
  }
}
@media screen and (min-width: 768px) { /* PC記述 */
  footer {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDDDDD;
  }
}

.footer-text {
  color: #333333;
  font-size: 13px;
}
